
<p>
	<strong>Links:</strong>
	<%= link_to "About", action: "about" %>
	<%= link_to "Contact", action: "contact" %>

</p>
<h1 class="red" > Hi, This is the <%= @where %> page. </h1>
<h2> This page is rendered by contact</h2>